@charset "UTF-8";
/* CSS Document */

*{
	margin: 0;
}

.header{
			width: 100%;
			height: 20px;
			text-align: center;
			margin-top: 7%;
		}

.upload{
			width: 50%;
			height: 80px;
			margin-left: 38%;
			margin-top: 8%;
		}
.upload>button{
			width: 50%;
			height: 80px;
			background-color: #49D5DC;
			color:#6F34DB;
			text-align: center;
		}
.sub_button{
			width: 50%;
			height: 80px;
			margin-left: 38%;
			padding-top: 1%;
		}

.sub_button>button{
			width: 50%;
			height: 80px;
			background-color: #49D5DC;
			color:#6F34DB
		}

.view{
			width: 40%;
			height: 50px;
			margin-left: 38%;
			margin-top: 3%;
		}
.view>button{
			width: 70%;
			height: 50px;
			background-color: #49D5DC;
			color:#6F34DB;
		}

